<!DOCTYPE html>
@{
    ViewBag.Title = "Alterar Setor";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alterar Setor</title>
</head>
@{ 
    var Setor = ViewBag.Setor;
}
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/SalvarSetor" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Alterar Setor</h2>

            <div class="col-lg-12">
                <input type="hidden" id="id" name="id" value="@Setor.Id" />
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" value="@Setor.Nome" />
            </div>


            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>


