<!DOCTYPE html>
@{
    ViewBag.Title = "Adicionar Item";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adicionar Pedido</title>
</head>
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/SalvarItem" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Adicionar Item</h2>

            <div class="col-lg-12">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="tipo_id" class="form-label">Numero do item</label>
                <input type="text" id="tipo_id" name="tipo_id" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="descricao" class="form-label">Descrição do Item</label>
                <input type="text" id="descricao" name="descricao" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="valor" class="form-label">Valor do Item</label>
                <input type="text" id="valor" name="valor" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="data" class="form-label">Data</label>
                <input type="datetime-local" id="data" name="data" class="form-control" />
            </div>

            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>