<!DOCTYPE html>
@{
    ViewBag.Title = "Excluir Mesa Seção";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir Mesa Seção</title>
</head>
@{
    var MesaS = ViewBag.MesaSecao;
}
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/ExcluirMesaSecao" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Excluir Mesa Seção</h2>

            <div class="col-lg-12">
                <label for="id_secao" class="form-label">Id Seção</label>
                <input type="text" id="id_secao" name="id_secao" class="form-control" readonly value="@MesaS.Id_secao" />
            </div>
            <div class="col-lg-12">
                <label for="id_mesa" class="form-label">Id Mesa</label>
                <input type="text" id="id_mesa" name="id_mesa" class="form-control" readonly value="@MesaS.Id_mesa" />
            </div>
            <div class="col-lg-12">
                <label for="data" class="form-label">Data</label>
                <input type="datetime-local" id="data" name="data" class="form-control" readonly value="@MesaS.Data" />
            </div>

            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>