<!DOCTYPE html>
@{
    ViewBag.Title = "Adicionar Mesa";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adicionar Mesa</title>
</head>
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/SalvarMesa" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Adicionar Mesa</h2>

            <div class="col-lg-12">
                <label for="id" class="form-label">Id</label>
                <input type="text" id="id" name="id" class="form-control" />
            </div>

            <div class="col-lg-12">
                <label for="numero" class="form-label">Numero</label>
                <input type="text" id="numero" name="numero" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="setor" class="form-label">Numero do Setor</label>
                <input type="text" id="setor" name="setor" class="form-control" />
            </div>
            <div class="col-lg-12">
                <label for="status_mesa" class="form-label">status_mesa</label>
                <input type="text" id="status_mesa" name="status_mesa" class="form-control" />
            </div>

            <div class="col-lg-12">
                <label for="data" class="form-label">Data</label>
                <input type="datetime-local" id="data" name="data" class="form-control" />
            </div>

            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>


