<!DOCTYPE html>
@{
    ViewBag.Title = "Seção Excluir";
}

<h2>Excluir Seção</h2>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir Seção</title>
</head>
@{
    var Secao = ViewBag.Secao;
 }
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/ExcluirSecao" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Excluir Seção</h2>

            <div class="col-lg-12">
                <label for="id" class="form-label">Id</label>
                <input type="text" id="id" name="id" class="form-control" readonly value="@Secao.Id" />
            </div>

            <div class="col-lg-12">
                <label for="numero" class="form-label">Numero Da Seção</label>
                <input type="text" id="numero" name="numero" class="form-control" readonly value="@Secao.Numero" />
            </div>

            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>