<!DOCTYPE html>
@{
    ViewBag.Title = "Excluir Tipo De Funcionario";
}

<h2>Excluir Tipo De Funcionario</h2>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excluir Tipo De Funcionario</title>
</head>
@{ 
    var Login = ViewBag.Login;
}
<body>
    <div>
        <form class="row col-lg-3" action="/Adm/ExcluirTipofunc" method="post">
            <h2 style="font-family: Impact; color: #0B5345">Excluir Tipo De Funcionario</h2>

            <div class="col-lg-12">
                <input type="hidden" id="id" name="id" readonly value="@Login.Id" />
                <label for="id_setor" class="form-label">Id Do Setor</label>
                <input type="text" id="id_setor" name="id_setor" class="form-control" readonly value="@Login.Id_setor" />
            </div>

            <div class="col-lg-12">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" readonly value="@Login.Nome" />
            </div>

            <div class="col-lg-12">
                <label for="setor" class="form-label">Setor</label>
                <input type="text" id="setor" name="setor" class="form-control" readonly value="@Login.Setor"/>
            </div>

            <div class="col-lg-12">
                <br />
                <button class="btn btn-success" type="submit"> Salvar</button>
            </div>

        </form>

    </div>
</body>
</html>